* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: #007FFF;
    --main-gray: #F0F0F0;
    --basic-radius: 10px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 0;
}

h1 {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 22px;
}

form {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 42px;

    .input {
        all: unset;
        box-sizing: border-box;
        max-width: 321px;
        width: 100%;
        height: 42px;
        border-radius: var(--basic-radius);
        border: 2px solid var(--main-blue);
        padding: 0 20px;
        font-family: Gilroy;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    button {
        all: unset;
        width: 155px;
        height: 42px;
        background-color: var(--main-blue);
        color: white;
        box-sizing: border-box;
        border-radius: var(--basic-radius);
        border: 2px solid var(--main-blue);
        padding: 0 20px;
        font-family: Gilroy;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 90%;
    margin: 0 auto;
    padding: 18px 0;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 25px;
    background: var(--main-gray);
    border: 1px solid var(--main-blue);
    border-radius: var(--basic-radius);


    h3 {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 15px;
    }

    .time {
        font-family: Gilroy;
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(0, 0, 0, 0.55);

    }

    button {
        all: unset;
        cursor: pointer;
    }
}


dialog {
    all: unset;
    display: none;
    border: none;
    width: 420px;
    max-width: 90%;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    margin-bottom: 100px;
    margin: auto;


    .form {
        all: unset;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form input[type="text"] {
        margin-bottom: 20px;
        padding: 10px;
        height: 35px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    .form input[type="checkbox"] {
        cursor: pointer;
        text-align: left;
        width: 20px;
        height: 20px;
    }

    .btns {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .btns button {
        width: 150px;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
    }

    .btns .save {
        background-color: #4CAF50;
        color: white;
    }

    .btns .save:hover {
        background-color: #45a049;
    }

    .checkbox {
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}

dialog[open] {
    display: block;
}

dialog[close] {
    display: block;
}